body {
  background-color: #C7ECCB;
  margin: 0;
  margin-bottom: 70px;
}

//NAV BAR //
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #347474;
  color: white;
  margin: 0px;
  font-family: 'Courier New', Courier, monospace;
  
  button {
    background-color: #347474;
    cursor: pointer;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    padding: 0;
    width: 80px;
  }
}
.navLink {
  color: white;
  text-decoration: none;
}

button {
  height: 40px;
  width: 150px;
  border: none;
  border-radius: 4px;
  color: white;
  background-color: #347474;
  margin-bottom: 30px;
}

//GET RECIPE //
.getRecipe {
  display: flex;
  flex-direction: column;
  align-items: center;

  .recipeCard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 6px;
    width: 400px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 16px;
  }

  button {
    height: 40px;
    width: 150px;
    border: none;
    border-radius: 4px;
    color: white;
    background-color: #347474;
    margin-bottom: 30px;
  }
}

//SIGN UP//
.signup {
  margin-top: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;

  form {
    display: flex;
    flex-direction: column;
  }
  
  .input-field {
    position: relative;
    // margin-top: 2rem;
  }
  
  .input-field input {
    padding: 0.8rem;
  }
  
  form .input-field:first-child {
    margin-bottom: 1.5rem;
  }
  
  form input[type="submit"] {
    background-color: #347474;
    color: white;
    border-radius: 4px;
    margin-top: 2rem;
    padding: 0.4rem;
  }
}
.loginLink {
  text-decoration: none;
  color: #347474;
}


//LOGIN //
.login {
  margin-top: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;

  form {
    display: flex;
    flex-direction: column;
  }
  
  .input-field {
    position: relative;
    // margin-top: 2rem;
  }
  
  .input-field input {
    padding: 0.8rem;
  }
  
  form .input-field:first-child {
    margin-bottom: 1.5rem;
  }
  
  form input[type="submit"] {
    background-color: #347474;
    color: white;
    border-radius: 4px;
    margin-top: 2rem;
    padding: 0.4rem;
  }
}
.loginLink {
  text-decoration: none;
  color: #347474;
}

//HOME //
.home {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;

  button {
    background-color: #347474;
    border: none;
    border-radius: 4px;
    height: 50px;
    width: 100px;
  }
}

.homeLink {
  color: white;
  background-color: #347474;
  text-decoration: none;
}

#addReview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

#addReview > * {
  margin: .5rem;
}

.review-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 300px;
  padding: 1rem;

  border: 1px solid darkgreen;
  border-radius: 5%;
}